PORT=3001
FIREBASE_PROJECT_ID=openremit-dev
FIREBASE_PRIVATE_KEY=<your_key>
FIREBASE_CLIENT_EMAIL=<your_email>
OPEN_PAYMENTS_WALLET_ADDRESS=<wallet_address>
OPEN_PAYMENTS_KEY_ID=<key_id>
OPEN_PAYMENTS_PRIVATE_KEY_PATH=<private_key_path>
WHATSAPP_ACCESS_TOKEN=<meta_token>
WHATSAPP_PHONE_NUMBER_ID=<phone_id>
WHATSAPP_VERIFY_TOKEN=openremit_verify_2024
NODE_ENV=development
BACKEND_URL=http://localhost:3001
MOBILE_DEEP_LINK=communityremit://payment
JWT_SECRET=hackathon-dev-secret
